ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.single-card-main {
  display: flex;
  width: 100%;
}

.single-card-title {
  text-align: center;
}


.single-card-img-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
}

.single-card-img {
  width: 85%;
  height: auto;
}

.single-card-sizes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.size {
  width: fit-content;
  padding: 7px;
  cursor: pointer;
  border: none;
}

.current-size {
  border: 1px solid grey;
  border-radius: 10px;
}

.single-card-info {
  display: flex;
  width: 55%;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.single-card-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  border: 1px solid gray;
  height: fit-content;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.info {
  padding: 20px;
  border-bottom: 1px solid gray;
}

.info:last-child {
  border-bottom: 0
}

.info-right {
  border-left: 1px solid gray;
}

.single-card-counter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.counter {
  display: flex;
  width: 17%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(110, 110, 110);
  border-radius: 5px;
}     

.counter-operation {
  width: 30%;
  height: auto;
  background-color: rgb(110, 110, 110);
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  padding: 5px 0;
}

.add-to-cart {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #de6969;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s all;
}

.add-to-cart {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #de6969;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s all;
}

.add-to-cart:hover { 
  background-color: #df9090;
}

.add-to-cart:active {
  background-color: #df9090;
} 